@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

a + a
{
	margin-left: 100px;
}

body
{
	font-family: Arial;
}

h1
{
	font-weight: bold;
	font-size: 24.0pt;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	font-size: 12.0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	mc-disabled: false;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

ol.Test
{
	list-style-type: decimal;
}

ol.Test > li > ul > li > ol
{
	list-style-type: lower-alpha;
}

ol.Test > li > ul
{
	
}

img::after
{
	content: 'hi';
}

MadCap|listOfProxy::before
{
	content: 'Test text: ';
}

MadCap|listOfProxy
{
	border-top-color: #8b0000;
	mc-leader-align: inherit;
	mc-leader-format: ' ';
	font-size: 20px;
}

p.ListOf
{
	mc-leader-format: ' ';
	font: inherit;
	font-size: 20px;
}

p.ListOf::before
{
	content: 'Test Text: ';
}

p.TOC1::before
{
	content: inherit;
	display: block;
}

ol.NumberedListAlphaFollow
{
	list-style-type: decimal;
}

ol.NumberedListAlphaFollow > li > ol
{
	list-style-type: lower-alpha;
}

.MCDropDown_Open span.MCDropDownHead {
	padding-top: 30px;
}

.MCDropDown_Closed span.MCDropDownHead {
	padding-top: 50px;
}
